
        body {
            background-image: url("gradient_bg.png");
            background-repeat: repeat-x;
            background-attachment: scroll;
           
             /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(199, 106, 106), rgb(160, 134, 85), rgb(219, 219, 170), rgb(195, 230, 195), rgb(178, 178, 240), rgb(206, 191, 218), rgb(155, 117, 155));

          }

          
          .media {
              column-count: 3;

          }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        height:40px;
	    bottom:40px;
	    right:40px;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
       
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      
      .fa-instagram {
        background: #c50860;
        color: white;
      }
      .fa-phone {
        background: #125688;
        color: white;
      }
      
      .fa-whatsapp {
        background:#25d366;
        color: white;
      }
      
      span {
        content: "\260E";
      }
      
