div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
   
     .h1{
    color: rgb(16, 180, 119);
    padding:120px ;
    text-align:center;
  
      }
   
      .centre{
        padding:300px  200px;
          text-align:center;
        color:green;
      }
      .h2{
        padding:3px 20px;
          text-align:center;
        color:whitesmoke;
        padding-top:0px;
      }
      button{
          padding:40px 40px;
          text-align:center;
          background-color: cadetblue;
          text-shadow: coral;
  
      }
    body {
    background-image: url("paper.gif");
    background-color: #cccccc;
    }
    body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url("saroj.jpeg");
  
    height: 100%; 
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.sticky {
    position: -webkit-sticky;
    position: fixed;
  width:100%;
    
  }
  ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }